{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    

</head>


<body class="containr">
    
    <header class="header" >
        <div class="container logo-nav-container"  style="flex-wrap: wrap;">
                <a href="#" class="LOGO">LOGO</a>
                <img src="Imagenes/icons8-menú-26 (1).png" alt="" class="menu">
                
            <nav class="nav">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Acerca</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Clientes</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>    
            </nav>
        </div>
    </header>


    <main class="main">
        <div class="container">
            
        </div>        
    </main>




    <footer class="footer">
        <div class="container">
            <p>Todos los derechos reservados </p>
            <h5>Copyright ©</h5>
        </div>
    </footer>



<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="Scripts.js"></script>
</body>
</html>