{% extends 'Movil.html '%}



{% block contenido %}


    <table>
        <tbody>
            <tr>
                <td>Nombre</td>
                <td>Nicol</td>
            </tr>
            <tr>
                <td>Reza</td>
                <td>Mestiza</td>
            </tr>
            <tr>
                <td>Edad</td>
                <td>2 años</td>
            </tr>
            <tr>
                <td>Responsable</td>
                <td>Luis alejandro</td>
            </tr>


        </tbody>
        <img src="static/images/pet.jpg" class="foto"  />
    </table>

{% endblock %}