{% extends 'Movil.html'%}


{% block contenido %}


<table class="table" >
   
    <tr>
      <th >Nombre Mascota</th>
      <th >Fecha Nacimiento</th>
      <th >Fecha Registro</th>  
      
      <th >Desparacitasiones</th>
      
      
      
    </tr>
 
  
    <tr>

    </tr>
    {% for date in MascotaDate %}

    
      <tr>
        <th>{{date.nombre}}</th>
        
        <th>{{date.fechanacimiento}}</th>
        <th>{{date.fecharegistro}}</th>
        
        <th><a href="{% url 'LDMascotasMov' date.id %}">Ver Desparacitasiones</a></th>
        
       
        

      </tr>

    {% endfor %}

    </tr>
</table>









{% endblock %}




