{% extends 'Movil.html'%}




{% block contenido %}
<p style="margin-top:2em;"></p>
<table>
    <tr>
        <td>Nombre:</td>
        <th >  {{dueño.nombre}} {{dueño.apellido}}</th>
        
    </tr>
    <tr>
        <td>Documento:  </td>
        <th>  {{dueño.documento}}</th>
    </tr>
    <tr>
        <td>Telefono:</td>
        <th>  {{dueño.celular}}</th>
    </tr>

</table>

<img src="{{MostMas.foto.url}}", style="height: 120px; width: 120px; margin-left: 80%; position:absolute; top: 85px;">
<p style="margin-top:3em;"></p>
<table class="table" >
    <tr>
        <th>Nombre</th>
        <th>Fecha registro</th>
        <th>Fecha de Refuerzo</th>
        <th>Detalle</th>

    </tr>

    {% for datos in VacunasDate %}
        <tr>
            <th>{{datos.fk_producto.nombre}}</th>
            <th>{{datos.fecharegistro}}</th>
            <th>{{datos.proximavacuna}}</th>
            <th><a href="#">Ver Mas</a></th>
            
        </tr>
    {% endfor %}

</table>







{% endblock %}