{% extends 'Movil.html'%}




{% block contenido %}

<table>
    <tr>
        <td>Nombre:</td>
        <th >  {{dueño.nombre}} {{dueño.apellido}}</th>
        
    </tr>
    <tr>
        <td>Documento:  </td>
        <th>  {{dueño.documento}}</th>
    </tr>
    <tr>
        <td>Telefono:</td>
        <th>  {{dueño.celular}}</th>
    </tr>

</table>

<table class="table" >
    <tr>
        <th>Nombre</th>
        <th>Fecha registro</th>
        <th>Fecha de Refuerzo</th>
        <th>Detalle</th>

    </tr>

    {% for datos in VacunasDate %}
        <tr>
            <th>{{datos.fk_producto.nombre}}</th>
            <th>{{datos.fecharegistro}}</th>
            <th>{{datos.proximavacuna}}</th>
            <th><a href="#">Ver Mas</a></th>
            
        </tr>
    {% endfor %}

</table>







{% endblock %}