{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    

</head>


<body class="containr">
    
        <table class="table table-dark">
                <tr>
                    <th>Nombre</th>
            
                    <th>FechaRegistro</th>
            
                    <th>Logo</th>
            
                    <th>CorreoCoorporativo</th>
            
                    <th>Telefono</th>
            
                    <th>Editar</th>
            
                    <th>Borrar</th>
            
            
                </tr>
                {% for Veterinaria in object_list %}
                <tr>
                    <td>{{ Veterinaria.nombre }}</td>
            
                    <td>{{ Veterinaria.fecharegistro }}</td>
            
                    <td>{{ Veterinaria.logo }}</td>
            
                    <td>{{ Veterinaria.correocoorporativo }}</td>
                    
                    <td>{{ Veterinaria.telefono }}</td>
            
                   
                </tr>
                {% endfor%}

                

    <main class="main">
        <div class="container">
                <p><a href="{% url 'RegistroVeterinaria' %}" class="boton btn" >Agregar nueva veterinaria</a></p>
        </div>        
    </main>




    <footer class="footer">
        <div class="container">
            <p>Todos los derechos reservados </p>
            <h5>Copyright ©</h5>
        </div>
    </footer>

</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="Scripts.js"></script>
</body>
</html>



