{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    

</head>


<body class="container">
    
    <table class="table table-dark">
        <thead>
            <tr>
                <th>N°</th>

                <th>Nombre</th>
            
                <th>FechaRegistro</th>
                
                <th>Logo</th>
            
                <th>CorreoCoorporativo</th>
                
                <th>Telefono</th>
                    
                <th>Editar</th>
            
                <th>Borrar</th>

                <th><button class="btn" ><a href="{% url 'VeterinariaCrear' %} " style="text-decoration: none" > Agregar Nueva Veterinaria</a></button></th>
                </tr>

        </thead>

        <tbody>
            {% if veterinaria %}
            
            {% for veterinaria in veterinaria %}
            <tr>
                <td>
                    {{ veterinaria.id }}
                </td>
                <td>
                    {{ veterinaria.nombre }}
                </td>
                <td>
                    {{ veterinaria.fecharegistro }}
                </td>
                <td>
                    {{ veterinaria.logo }}
                </td>
                <td>
                    {{ veterinaria.correocoorporativo }}
                </td>
                <td>
                    {{ veterinaria.telefono }}
                </td> 

                <td>
                        <button class="btn"><a href="{% url 'VeterinariaEditar' veterinaria.id %}" style="text-decoration: none">Editar</a></button>
                </td>

                <td>
                        <button class="btn"><a href="{% url 'VeterinariaBorrar' veterinaria.id %}" style="text-decoration: none">Borrar</a></button>
                </td>
                
            </tr>
        
            {% endfor %}

            {% else %}

            <h1>No se han registrado veterinarias</h1>
                
            {% endif %}
        </tbody>


    </table>            

    <main class="main">
        <div class="container">
                
        </div>        
    </main>




    <footer class="footer">
        <div class="container">
            <p>Todos los derechos reservados </p>
            <h5>Copyright ©</h5>
        </div>
    </footer>

</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="Scripts.js"></script>
</body>
</html>



