{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
    <link rel="stylesheet" href="{% static 'css/mov.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title></title>
    <script>
    function Monstrar(){
    document.getElementById('cont').style.display= "block";

}
function Ocultar(){
    document.getElementById('cont').style.display= "none";
}
function Monstrar_Ocultar(){
    var cont = document.getElementById('cont');

    if(cont.style.display == "none"){
        Monstrar();
    }else{
        Ocultar();
    }
}
window.onload= function detalle(){
    var $;
    $('cont').animate({
            down: '0'
        });
}
    </script>
 
</head>
<body>
    <header>
        <div class="menu_bar">
            <a href="#" class="bt-menu"><span class="TAP"></span>Menu <img src="{% static 'images/Logo.jpeg' %}" style="width: 70px; height: 70px; position: absolute; left: 22.2em; top: 5px;" ></a> 
        </div>
        <nav onload="esconder()">
            <ul> 
                <li><a href="{% url 'LMascotasMov' %}"><span></span>Inicio</a></li>
                <li><a href="{% url 'IndiceVac' %}"><span></span>Vacuna</a></li>
                <li><a href="{% url 'control' %}"><span></span>Control Medico</a></li>
                <li><a href="{% url 'IndiceDes' %}"><span></span>Desparacitacion</a></li>
                <li><a href="{% url 'almacen' %}"><span></span>Almacen</a></li>
                <li><a href="{% url 'recordatorio' %}"><span></span>Recordatorio</a></li>
            </ul>
        </nav>
    </header>
    
        <div class="containers">
            {% block contenido %}

            {% endblock %}
        </div>
        


        <script src="https://code.jquery.com/jquery-latest.js"></script>
        <script src="{% static 'js/main.js' %}"></script>
        
</body>





</html>