{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/estilologin.css' %}">
    <style>
</style>
    <title>Inicio</title>
</head>
<body>
    <div class="w3l-login-form">

    </nav>
    {% block principal %}
        <p>Bloque principal</p>
    {% endblock %}
    </div>
 </div> 
 <footer>
    <p class="copyright-agileinfo"> &copy; VeteSoft 2019 All Rights Reserved</p>
</footer>
</body>
</body>
</html>