{% extends 'Movil.html '%}

{% block Menu %}
    {% for datos in VacunaDate %}
        <li><a href="{% url 'LVacunas'  datos.pk %}"><span></span>Vacunas</a></li>
        <li><a href="{% url 'control' %}"><span></span>Control Medico</a></li>
        <li><a href="{% url 'desparacitacion' %}"><span></span>Desparacitacion</a></li>
        <li><a href="{% url 'almacen' %}"><span></span>Almacen</a></li>
        <li><a href="{% url 'recordatorio' %}"><span></span>Recordatorio</a></li>

    {% endfor %}
{% endblock %}



{% block contenido %}


    <table>
        <tbody>
            
            <tr>
                <td>Nombre</td>
                <td>{{MascotaDate.nombre}}</td>
            </tr>
            <tr>
                <td>Reza</td>
                <td>{{MascotaDate.fk_raza.nombre}}</td>
            </tr>
            <tr>
                <td>Edad</td>
                <td>{{MascotaDate}}</td>
            </tr>
            <tr>
                <td>Responsable</td>
                <td>{{  MascotaDate.fk_usuario.nombre}}</td>
                <td>{{  MascotaDate.fk_usuario.apellido}}</td>
            </tr>
          


        </tbody>

        <img src="static/images/pet.jpg" class="foto"  />
    </table>

    <table>
        <tr>
            <th>Nombre</th>
            <th>Fecha registro</th>
            <th>Fecha de Refuerzo</th>
            <th>Datelle</th>

        </tr>

        {% for datos in VacunaDate %}
            <tr>
                <th>{{datos.fk_producto.nombre}}</th>
                <th>{{datos.fecharegistro}}</th>
                <th>{{datos.proximavacuna}}</th>
                
                <th>Ver mas</th>

            </tr>

        {% endfor %}

    </table>

{% endblock %}