{% extends 'indexDoctor.html '%}





{% block input %}
    <table class="table table-striped" >
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo</th>

            
            
          </tr>
        </thead>
        <tbody>
          <tr>
    
          </tr>
          {% for date in form %}

          {% if date.fk_veterinaria == user %}
          <tr>
            
            <td>{{date.nombre}}</td>
            <td>{{date.fk_Tipoproducto.nombre }}</td>

          
          </tr>
          {% endif %}
          {% endfor %}

          </tr>
        </tbody>
    </table>

    <p><a href="{% url 'RProducto'  user.id %}">Agregar un nuevo desparasitante</a></p>


{% endblock %}