{% extends 'indexDoctor.html '%}









{% block input %}
    <table class="table table-striped" >
        <thead>
          <tr>
            <th scope="col">Responsable</th>
            <th scope="col">||</th>
            <th scope="col">Nombre Mascota</th>
            
            <th scope="col">Fecha Nacimiento</th>
            <th scope="col">Fecha Registro</th>  
            <th scope="col">Vacunas</th>
            <th scope="col">Desparacitasiones</th>
            <th scope="col">Controles Medicos</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
    
          </tr>
          {% for date in MascotaDate %}

          
            <tr>
              
              <td>{{date.fk_usuario.nombre}}</td>
              <td>||</td>
              <td>{{date.nombre}}</td>
              
              <td>{{date.fechanacimiento}}</td>
              <td>{{date.fecharegistro}}</td>
            
              <td><a href="{% url 'LMostrarVacunasMedico' date.id %}">Ver Vacunas</a></td>
              <td><a href="{% url 'LMostrarDesparasitacionMedico' date.id %}">Ver Desparacitasiones</a></td>
              <td><a href="">Ver Controles Medicos</a></td>
              

            </tr>

          {% endfor %}

          </tr>
        </tbody>
    </table>


{% endblock %}