{% extends 'indexDoctor.html '%}










{% block input %}
    <table class="table table-striped" >
        <thead>
          <tr>
            <th scope="col">Documento</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Fecha Nacimiento</th>
            
            <th scope="col"> Contacto</th>
            <th scope="col"> Mascotas</th>
          </tr>
        </thead>
        <tbody>
          <tr>
    
          </tr>
          {% for date in form %}
          <tr>
            
            <td>{{date.documento}}</td>
            <td>{{date.nombre}}</td>
            <td>{{date.apellido}}</td>
            <td>{{date.fechanacimiento}}</td>
            <td>{{date.celular}}</td>
            <td><a href="">Registrar Mascota</a></td>
          </tr>
          {% endfor %}

          </tr>
        </tbody>
    </table>


{% endblock %}