{% extends 'Administrador.html '%}





{% block BtnMenu %}
<p><a href="{% url 'LMostrarUsuario'   %}" class="btn ColorBoton list-group-item-action">Usuarios</a></p>
<p><a href="{% url 'LMostrarVacunas'   %}" class="btn ColorBoton list-group-item-action">Mascotas</a></p>
<p><a href="{% url 'LMostrarDesparasitacion'   %}" class="btn ColorBoton list-group-item-action">Desparacitasiones</a></p>
<p><a href="{% url 'LMostrarControlesMedicos'   %}" class="btn ColorBoton list-group-item-action">Controles Medicos</a></p>
<p><a href="{% url 'LMostrarProducto'   %}" class="btn ColorBoton list-group-item-action">Productos</a></p>


{% endblock %}





{% block input %}
    <table class="table table-striped" >
        <thead>
          <tr>
            <th scope="col">Documento</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Fecha Nacimiento</th>
            
            <th scope="col"> Contacto</th>
            <th scope="col"> Mascotas</th>
          </tr>
        </thead>
        <tbody>
          <tr>
    
          </tr>
          {% for date in form %}
          {% if date.fk_veterinaria == user %}
            <tr>
              
              <td>{{date.documento}}</td>
              <td>{{date.nombre}}</td>
              <td>{{date.apellido}}</td>
              <td>{{date.fechanacimiento}}</td>
              <td>{{date.celular}}</td>
              <td><a href="{% url 'RMascota'  date.id %}">Registrar Mascota</a></td>
            </tr>
            {% endif %}
          {% endfor %}
          

          </tr>
        </tbody>
    </table>

    <p><a href="{% url 'RUsuario'  user.id %}">Agregar Un Nuevo Cliente</a></p>


{% endblock %}