{% extends 'indexDoctor.html '%}











{% block input %}
    <table class="table table-striped" >
        <thead>
          <tr>
            <th scope="col">Vacuna</th>
            <th scope="col">Fecha Registro</th>
            <th scope="col">Proxima Vacuna</th>
            <th scope="col">Ver Detalle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
    
          </tr>
          {% for date in VacunasDate %}
          <tr>
            
            <td>{{date.fk_producto.nombre}}</td>
            <td>{{date.fecharegistro}}</td>
            <td>{{date.proximavacuna}}</td>
            <td><a href="">Mas Informacion</a></td>
            

          </tr>
          {% endfor %}

          </tr>
        </tbody>
    </table>


{% endblock %}