{% extends 'indexDoctor.html '%}








{% block input %}
    <table class="table table-striped" >
        <thead>
          <tr>
            <th scope="col">Responsable</th>
            <th scope="col">Mascota</th>
            <th scope="col">Fecha Registro</th>
            <th scope="col">Fecha Nacimiento</th>
            
            <th scope="col"> Medicamento</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
    
          </tr>
          {% for date in form %}
          <tr>
            
            <td>{{date.documento}}</td>
            <td>{{date.nombre}}</td>
            <td>{{date.apellido}}</td>
            <td>{{date.fechanacimiento}}</td>
            <td>{{date.celular}}</td>
            
          </tr>
          {% endfor %}

          </tr>
        </tbody>
    </table>
    <p><a href="{% url 'RDesparacitacion'  user.id %}">Agregar un nuevo desparasitante</a></p>


{% endblock %}