{% extends 'principal.html' %}
{% block principal %}

{% if form.errors %}
<p>Usuario no encontrado, Intenta nuevamente</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Su cuenta no tiene acceso a esta página. Para continuar, inicie sesión con una cuenta que tenga acceso.</p>
    {% else %}
    <p>Inicia sesión para ver esta página.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div>
<div>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div>
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>



{% endblock %}