{% extends 'indexAdmin.html '%}
{% load static %}









{% block input %}

    {% csrf_token %}
    
    {% if date.fk_mascota.fk_usuario.fk_veterinaria == user %}
    <label for="proximavacuna"></label>
    <input type="text" name="proximavacuna" id="" value="{{ date.proximavacuna }}" disabled=false>

    <label for="productonombre"></label>
    <input type="text" name="productonombre" id="" value="{{ date.fk_producto.nombre }}" disabled=false>


    <label for="numeroregistro"></label>
    <input type="text" name="numeroregistro" id="numeroregistro_id" value="{{ date.numeroregistro }}" disabled=false>
    {% endif %}
   

    <div>
        <select id="izquierda" multiple>
            {% for data in DatosEfectos %}
                <option value="{{data.id}}">{{data.nombre}}</option> 
            {% endfor %}
            </select>
            <button onclick="Mover(2)"><<<<</button> 
            <button onclick="Mover(1)">>>>></button>
            <select id="derecha" multiple>
        </select>
    </div>




    <button id="boton"> Registrar</button>
    <script src="{% static 'js/RegisterVacunas.js' %}"></script>
{% endblock %}
    


